/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden; /* IMPORTANT */
}

/* PAGE WRAPPER */
.page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* BACKGROUND */
.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.bg > div {
  width: 100%;
  height: 100%;
}

/* CONTENT */


.page-content h1 {
  font-size: 4rem;
  margin: 0;
}